@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/**********************
//COLORS
***********************/
$color-grey-dark: #777;
$color-grey-light: #ddd;
$color-white: #fff;
/**********************
//MIXINS
***********************/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
   @media only screen and (max-width: 37.5em) { @content }; //600px
  }
  @if $breakpoint == tab-port {
   @media only screen and (max-width: 56.25em) { @content }; //900px
  }
  @if $breakpoint == tab-land {
   @media only screen and (max-width: 75em) { @content }; //1200px
  }
  @if $breakpoint == big-desktop {
   @media only screen and (min-width: 112.5em) { @content }; //1800px
  }
 }


/**********************
//GENERAL
***********************/
* {
margin: 0;
padding: 0;
box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  @include respond(tab-land) { //width < 1200px?
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) { //width < 900px?
    font-size: 50%;// 1rem = 8px, 8/16 = 50%
  }
  
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
}
body {
  box-sizing: border-box;
  color: $color-grey-dark;
  font-family: 'Lato', sans-serif;
}

.App {
  margin: 2rem auto;
  padding: 2rem;
  width: 45vw;
  min-height: 120vh;
  text-align: center;
  background-color: $color-grey-light;
  box-shadow:  .5rem .5rem 1.7rem #c4c4c4;
              
  @include respond(phone) {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
  }
}

/**********************
//HEADER
***********************/
.header {
  padding: 2rem;
}
.heading-primary {
  font-size: 3rem;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 1rem 0;
}
.logo {
  width: 49%;
  margin: 0 auto;
  @include respond(phone) {
    width: 55%;
  }
  &__image {
    width: 100%;
  }
}

/**********************
//ADD LOCATION FORM
***********************/
.form {
  padding: 1rem 2rem;
  
  &__label, &__input {
    display: inline-block;
  }

  &__label {
    font-size: 1.9rem;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
  } 
  &__input {
    width: 55%;
    height: 4rem;
    margin-bottom: 2rem;

    border-radius: .5rem;
    border: 1px solid $color-grey-light;
    box-shadow: inset .5rem .5rem .7rem #c4c4c4,
                inset -.3rem -.5rem .8rem $color-white;

    @include respond(phone){
      width: 70%;
    }
    &:focus, &:active {
      outline: none;
      border: 1px solid $color-grey-dark;
    }
  }

  &__button {
    padding: .7rem 1rem;
    vertical-align: top;
    border: 1px solid $color-grey-dark;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.8rem;
    color: $color-grey-dark;
    background-color: $color-grey-light;
    margin-left: 2rem;
    
    border-radius: .5rem;
    border: 1px solid $color-grey-light;
    box-shadow: .5rem .5rem .7rem #c4c4c4,
              -.3rem -.5rem .8rem $color-white;
    
    @include respond(phone) {
      width: 70%;
      margin-left: 0;
      margin-top: 2rem;
    }
    &:hover {
      background-image: linear-gradient(145deg, #d0d0d0, #f7f7f7);
      box-shadow:  .6rem .6rem 1rem #c4c4c4, 
                  -.8rem -.8rem 1.5rem $color-white;
    }
  }
}

/**********************
//WEATHER ICON
***********************/
.icon {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;

  &__img {
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

/**********************
//FORECAST DETAILS
***********************/
.forecast-details {
  margin-top: 1.6rem;
  margin-bottom: 4rem;
  &__city {
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 2rem;
    font-weight: 400;
  }
  &__condition {
    font-size: 1.8rem;
    letter-spacing: .3rem;
  }
  &__temperature {
    font-size: 5rem;
    margin: 3rem;
    letter-spacing: .5rem;
    span {
      padding-left: 1rem;
    }
  }
  &__min-max {
    margin: 2rem;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    .max {
      margin-left: 2rem;
    }
  }
}